bin/readsysvar
bin/Xsysvar
bin/xsysvar
bin/sysinfo
bin/64/svc99basic
bin/31/svc99basic
bin/64/*
bin/31/*
bin/*.o
bin/*.x
src/*.o
src/*.lst
sms/*.o
sms/*.lst
sms/bin/smsag
sms/bin/smssg
sms/bin/smssc
sms/bin/smsdc
sms/bin/smsmc
sms/bin/smsacs
sms/test/*.o
sms/test/zoautest
volume/*.o
volume/volinfo
volume/*.lst
codepage/a2e
codepage/e2a
codepage/codepage.h
smf/smf119.o
smf/smf119
cmakeit/hw/build
